/* You can add global styles to this file, and also import other style files */

@import 'variables';


html, body, p {
    color: $maintext;
}

.apartment {
    color:#a72da3;
}

.condo {
    color:#12d7fa;
}

.house {
    color:#5cf106;
}